#row_1{
	height: 10vh;
}
#row_2{
	height: 84vh;	
}
#row_3{
	height: 6vh;
}

#row_2_row_1{
	height:10vh;
}
#row_2_row_2{
	height:64vh;
}
#row_2_row_3{
	height:10vh;
}
#row_2_row_2_col_1{
	padding-top:20px;
}

#article_editor{
	width: 950px; 
	height: 420px;
}

.form-group{
	width: 400px;
    height: 45px;
    padding: 10px;
    font-size: 18px;
}